@{
    Layout="Shared/_Layout.cshtml";
}

<div class="container">
  <div class="row">
    <form class="col s12" action="/recipe/added" method="post">
      <div class="row">
        <div class="input-field">
          <label for="recipe-name"></label>
          <input type="text" name="recipe-name" class="validate" placeholder = "Recipe Name">
          <button class="btn-floating btn-large waves-effect waves-light teal darken-3" href="/recipe/added" type="submit"><i class="material-icons">add</i></button>
        </div>
      </div>
    </form>
  </div>
</div>
