<ul id="slide-out" class="side-nav fixed leftside-navigation ps-container ps-active-y grey lighten-3" style="width: 240px;">
<li>Hello</li>
<li>Test</li>
<form action="/deleteall" method="post">
  <input type="hidden" name="_method" value="DELETE">
  <button class="waves-effect waves-light btn-large red accent-2" type="submit">Delete ALL</button>
</form>
</ul>
